@use "./sass/variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,400&display=swap");

.App {
  font-family: $main-font;
  font-weight: $main-font-weight;
  height: 100%;
  background-color: rgb(162, 205, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  border: 2px solid black;
  height: 65%;
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.exchange-form-wrapper {
  border: 2px solid black;
  display: flex;
  width: 75%;
  height: 25%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exchange-form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem 0;
  width: 100%;
}

.form-input {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: 1.15rem;
}

.amount-input {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  border: none;
  outline: 2px solid rgb(0, 182, 0);
  &:invalid {
    outline: 2px solid red;
  }
}

.convert-btn {
  padding: 0.15rem 1.5rem;
  border: 1px solid black;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  &:active {
    transform: translateY(1px);
  }
  &:disabled{
    background: none;
    color: grey;
    cursor: not-allowed;
  }
}

.card-wrapper {
  display: flex;
  width: 75%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-text {
  font-size: 1.5rem;
  font-weight: $main-font-weight;
}

.currency-select {
  width: min-content;
  border: none;
  background-color: white;
  padding: 0.25rem;
}
