@use "../sass/variables.scss" as *;

.exchange-card-wrapper {
  border: 2px solid white;
  min-height: 40%;
  min-width: 75%;
}

.exchange-card {
  padding: 1.5rem;
}

.conversion-info {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.converted-currency {
  text-transform: capitalize;
  font-weight: 400;
}
