@use "../sass/variables.scss" as *;

.exchange-card {
  border: 2px solid white;
  height: 50%;
  padding: 1.5rem;
  width: 65%;
}

.conversion-info {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.converted-currency {
  text-transform: capitalize;
}
